.btnPassword {
  background-color: #0a263c;
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 200px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff !important;
}

.btnPassword:hover {
  background-color: rgb(233, 232, 232);
  color: #0a263c !important;
}

.passwordContainer {
  padding: 30px;
  font-weight: 500;
  height: 30vh;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #374049;
}

.rowPsw {
  display: flex;
  flex-direction: row;
}

.colPsw {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.tabRow{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 30px;
}

#historyTabRow{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 75px;
}