.password-visualizer {
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  .passw-alpha {
    color: black;
  }

  .passw-numbs {
    color: rgb(67, 67, 207);
  }

  .passw-special {
    color: rgb(202, 92, 92);
  }
}
