.progressBarDiv{
    width: 200px;
    height: 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
}

.progressTracker{
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 0px 4px rgb(65, 65, 65);
}